<h2>Project 2 - Second Project</h2>

<table class = "table table-striped"">

<tr class = "success"><p>1. Included gem for bootstrap i.e. bootstrap-sass in Gemfile of application without checking out from GitHub</p></tr>

<tr class = "success"><p>2. Ran "bundle install"</p></tr>

<tr class = "success"><p>3. Created controller using command "rails generate controller pages project_2"</p></tr>

<tr class = "success"><p>4. Deleted unnecessary controllers created in earlier assignments using "rails d controller "Controller Name""</p></tr>

<tr class = "success"><p>5. Modified the content in config/projects.yml file as given by professor</p></tr>

<tr class = "success"><p>6. Renamed the app/assets/stylesheets/application.css file as app/assets/stylesheets/application.css.scss</p></tr>

<tr class = "success"><p>7. Created a new file app/assets/stylesheets/bootstrap_and_overrides.css.scss and added content to import the Twitter Bootstrap CSS</p></tr>

<tr class = "success"><p>8. Applied class "table table-hover" to "table" tag in main page</p></tr>

<tr class = "success"><p>9. Applied class "warning" to "tr" tag in Main Page</p></tr>

<tr class = "success"><p>10. JQuery UI installation - added gem "jquery-ui-rails","~>4.0.5" to Gemfile, ran "bundle install", added //=require jquery.ui.all to application.js, added *=require jquery.ui.all to application.css.scss</p></tr>

<tr class = "success"><p>11. Added html content to "project_2.html.erb" which is in app/views/pages/ regarding the description of Project 2 assignment</p></tr>

<tr class = "success"><p>12. Tested "localhost:3000" URL by running "rails server" whether the assignment is as per specifications</p></tr>

<tr class = "success"><p>13. Pushed into GitHub and then deployed into Heroku</p></tr>

<tr class = "success"><p>14. Uploaded the txt file with my name, ID and URL of Heroku into ilearn</p></tr>

</table>
